<nav class="navbar navbar-expand-lg navbar-dark bgDark border-bottom border-light">
    <div class="d-flex justify-content-between w-100 container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">Crypto Tracker</a>
        <div>
            <ul class="navbar-nav d-flex flex-row">
                <li class="nav-item text-white" style="margin-right: 20px;color: white !important;">
                    <a class="nav-link" aria-current="page" href="{{ path('app_transaction_index') }}"><i class="fa-solid fa-pen"></i></a>
                </li>
                <li class="nav-item" style="color: white !important;">
                    <a class="nav-link" href="{{ path('app_transaction_new') }}"><i class="fa-solid fa-plus"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>