{% extends 'base.html.twig' %}

{% block body %}
    {% include "common/_navbar_home.html.twig" %}
    <div class="container py-5">
        <h3 class="colorWhite text-center"> Erreur 404 - Cette page n'existe pas.</h3>
    </div>
{% endblock %}